[submodule "GoogleCloudPlatform/collectd-netperf"]
	path = GoogleCloudPlatform/collectd-netperf
	url = https://github.googlesource.com/GoogleCloudPlatform/collectd-netperf
[submodule "angular/angular.js"]
	path = angular/angular.js
	url = https://github.googlesource.com/angular/angular.js
[submodule "bazelbuild/bazel"]
	path = bazelbuild/bazel
	url = https://github.googlesource.com/bazelbuild/bazel
[submodule "broadinstitute/hellbender"]
	path = broadinstitute/hellbender
	url = https://github.googlesource.com/broadinstitute/hellbender
[submodule "codemirror/CodeMirror"]
	path = codemirror/CodeMirror
	url = https://github.googlesource.com/codemirror/CodeMirror
[submodule "docker/boot2docker"]
	path = docker/boot2docker
	url = https://github.googlesource.com/docker/boot2docker
[submodule "docker/distribution"]
	path = docker/distribution
	url = https://github.googlesource.com/docker/distribution
[submodule "docker/docker"]
	path = docker/docker
	url = https://github.googlesource.com/docker/docker
[submodule "google/certificate-transparency"]
	path = google/certificate-transparency
	url = https://github.googlesource.com/google/certificate-transparency
[submodule "google/kythe"]
	path = google/kythe
	url = https://github.googlesource.com/google/kythe
[submodule "google/shipshape"]
	path = google/shipshape
	url = https://github.googlesource.com/google/shipshape
[submodule "google/skia-buildbot"]
	path = google/skia-buildbot
	url = https://github.googlesource.com/google/skia-buildbot
[submodule "google/skia"]
	path = google/skia
	url = https://github.googlesource.com/google/skia
[submodule "google/syzygy"]
	path = google/syzygy
	url = https://github.googlesource.com/google/syzygy
[submodule "joyent/node"]
	path = joyent/node
	url = https://github.googlesource.com/joyent/node
[submodule "kubernetes/kubernetes"]
	path = kubernetes/kubernetes
	url = https://github.googlesource.com/kubernetes/kubernetes
