[submodule "GoogleCloudPlatform/collectd-netperf"]
	path = GoogleCloudPlatform/collectd-netperf
	url = https://github.googlesource.com/GoogleCloudPlatform/collectd-netperf
[submodule "GoogleCloudPlatform/gsutil"]
	path = GoogleCloudPlatform/gsutil
	url = https://github.googlesource.com/GoogleCloudPlatform/gsutil
[submodule "angular/angular.js"]
	path = angular/angular.js
	url = https://github.googlesource.com/angular/angular.js
[submodule "bazelbuild/bazel"]
	path = bazelbuild/bazel
	url = https://github.googlesource.com/bazelbuild/bazel
[submodule "broadinstitute/hellbender"]
	path = broadinstitute/hellbender
	url = https://github.googlesource.com/broadinstitute/hellbender
[submodule "codemirror/CodeMirror"]
	path = codemirror/CodeMirror
	url = https://github.googlesource.com/codemirror/CodeMirror
[submodule "docker/boot2docker"]
	path = docker/boot2docker
	url = https://github.googlesource.com/docker/boot2docker
[submodule "docker/distribution"]
	path = docker/distribution
	url = https://github.googlesource.com/docker/distribution
[submodule "docker/docker"]
	path = docker/docker
	url = https://github.googlesource.com/docker/docker
[submodule "golang/go"]
	path = golang/go
	url = https://github.googlesource.com/golang/go
[submodule "google/battery-historian"]
	path = google/battery-historian
	url = https://github.googlesource.com/google/battery-historian
[submodule "google/certificate-transparency"]
	path = google/certificate-transparency
	url = https://github.googlesource.com/google/certificate-transparency
[submodule "google/error-prone"]
	path = google/error-prone
	url = https://github.googlesource.com/google/error-prone
[submodule "google/google-java-format"]
	path = google/google-java-format
	url = https://github.googlesource.com/google/google-java-format
[submodule "google/googletest"]
	path = google/googletest
	url = https://github.googlesource.com/google/googletest
[submodule "google/gsa-admin-toolkit"]
	path = google/gsa-admin-toolkit
	url = https://github.googlesource.com/google/gsa-admin-toolkit
[submodule "google/kythe"]
	path = google/kythe
	url = https://github.googlesource.com/google/kythe
[submodule "google/shipshape"]
	path = google/shipshape
	url = https://github.googlesource.com/google/shipshape
[submodule "google/skia-buildbot"]
	path = google/skia-buildbot
	url = https://github.googlesource.com/google/skia-buildbot
[submodule "google/skia"]
	path = google/skia
	url = https://github.googlesource.com/google/skia
[submodule "google/syzygy"]
	path = google/syzygy
	url = https://github.googlesource.com/google/syzygy
[submodule "googlegsa/activedirectory"]
	path = googlegsa/activedirectory
	url = https://github.googlesource.com/googlegsa/activedirectory
[submodule "googlegsa/database"]
	path = googlegsa/database
	url = https://github.googlesource.com/googlegsa/database
[submodule "googlegsa/documentum"]
	path = googlegsa/documentum
	url = https://github.googlesource.com/googlegsa/documentum
[submodule "googlegsa/filesystem"]
	path = googlegsa/filesystem
	url = https://github.googlesource.com/googlegsa/filesystem
[submodule "googlegsa/googleauthn"]
	path = googlegsa/googleauthn
	url = https://github.googlesource.com/googlegsa/googleauthn
[submodule "googlegsa/ldap"]
	path = googlegsa/ldap
	url = https://github.googlesource.com/googlegsa/ldap
[submodule "googlegsa/library"]
	path = googlegsa/library
	url = https://github.googlesource.com/googlegsa/library
[submodule "googlegsa/opentext"]
	path = googlegsa/opentext
	url = https://github.googlesource.com/googlegsa/opentext
[submodule "googlegsa/sharepoint"]
	path = googlegsa/sharepoint
	url = https://github.googlesource.com/googlegsa/sharepoint
[submodule "grpc/grpc-java"]
	path = grpc/grpc-java
	url = https://github.googlesource.com/grpc/grpc-java
[submodule "halide/Halide"]
	path = halide/Halide
	url = https://github.googlesource.com/halide/Halide
[submodule "joyent/node"]
	path = joyent/node
	url = https://github.googlesource.com/joyent/node
[submodule "kubernetes/kubernetes"]
	path = kubernetes/kubernetes
	url = https://github.googlesource.com/kubernetes/kubernetes
[submodule "open-source-parsers/jsoncpp"]
	path = open-source-parsers/jsoncpp
	url = https://github.googlesource.com/open-source-parsers/jsoncpp
[submodule "pagespeed/ngx_pagespeed"]
	path = pagespeed/ngx_pagespeed
	url = https://github.googlesource.com/pagespeed/ngx_pagespeed
[submodule "robolectric/robolectric"]
	path = robolectric/robolectric
	url = https://github.googlesource.com/robolectric/robolectric
